#box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --background-color: #111;
  --page-background: #212121;
  --text-color: #ededed;
  --color-alpha: #50a8d8;
  }
  } */


